// bower:scss
// endbower

@import 'reset';

$max-columns: 6;

$padding: 0.5em;
$border: 4px solid #FFF;

[data-centurion] {
  display: flex;
  flex-direction: column;
  padding-left: $padding;
  padding-right: $padding;
}

/* Only used for the first level */
body > [data-centurion] {
  border-left: $border;
  border-right: $border;
}

[data-cc] {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

@for $i from 1 through $max-columns {
    [data-cc~="u#{$i}"] {
        flex: 1 percentage(1 / $i);
        min-width: 200px;
        background: grey;
        padding: $padding;
        border: $border;
    }
}
